<header class="panel-head">
  <h1 id="panel-title">{{ ui[lang].now }}</h1>
  <p class="lede">{{ ui[lang].now_lede }}</p>
</header>

<ul class="now-list">
  {{ for item of home.now[lang] }}
  <li>{{ item }}</li>
  {{ /for }}
</ul>

<p class="aside"><a href="https://sive.rs/now">{{ ui[lang].now_what }}</a></p>
